# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.envrc
.env
# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Audio & temp
*.mp3
outputs/
*.wav
*.ogg
*.flac
*.webm
*.m4a
*.tmp
*.log

# API keys / config
apikey.txt
secrets.json

# Git internal (đừng xóa thư mục .git, gitignore không dùng để “ẩn” git)
!.gitignore
